@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    <br />
    Функциональные возможности:<br />
    ASP.NET MVC приложение, позволяющее создавать, редактировать и просматривать статьи.<br />
    Контент-редакторы - авторизированные пользователи – вход осуществляется по почте и паролю (для аутентификации/авторизации использовался стандартный ASP.NET Identity).<br />
    Контент-редакторы могут выполнять следующие операции:<br />
    - Создавать, редактировать и удалять статьи (Article)<br />
    - Добавлять и удалять теги для статей (Tags)<br />
    - Имеют весь функционал обычных пользователей<br /><br />

    Обычные пользователи – не авторизированные пользователи – не требуют аутентификации.<br />
    Обычные пользователи могут выполнять следующие операции:<br />
    - Просматривать список статей<br />
    - Просматривать конкретную статью<br />
    - Фильтровать статьи по категориям (у каждой статьи может быть только одна категория)<br />
    - Фильтровать статьи по датам (например, статьи, опубликованные с даты X по дату Y)<br />
    - Фильтровать статьи по тегу <br />
    <br />
    Статья должна имеen следующие поля:<br />
    - Название (Name) – поле обязательное<br />
    - Краткое описание (Short Description) – поле не обязательное<br />
    - Текст статьи (Description) – поле обязательное<br />
    - Категория (Category) – поле обязательное<br />
    - Теги (Tags) – поле не обязательное<br />
    <br />
    Страница со списком статей (Articles List) содержит сам список статей
    (название, категория, краткое описание, тэги), фильтры (по категории, датам, тегу).<br />
    Страница конкретной статьи (Article Details) содержит название, текст статьи, категорию и теги (если заданы).<br />
</p>
