@{
    ViewBag.Title = "About";
}
    <div class="about-me">
        <div class="about-me-item">
            <span class="about_head">
                Functionality: <br />
            </span>
            <span class="about-text">
                ASP.NET MVC application that allows you to create, edit and view articles. <br />
                Content editors - authorized users - login by mail and password (standard ASP.NET Identity was used for authentication / authorization). <br />
                Content editors can perform the following operations: <br />
                - Create, edit and delete articles (Article) <br />
                - Add and remove tags for articles (Tags) <br />
                - Have all the functionality of ordinary users
            </span>
        </div>
        <div class="about-me-item">

            <span class="about_head">
                Ordinary users - unauthorized users - do not require authentication. <br />
            </span>
            <span class="about-text">
                Ordinary users can perform the following operations: <br />
                - View a list of articles <br />
                - View a specific article <br />
                - Filter articles by category (each article can only have one category) <br />
                - Filter articles by date (for example, articles published from date X to date Y) <br />
                - Filter articles by tag
            </span>
        </div>
        <div class="about-me-item">
            <span class="about_head">
                The article must have the following fields: <br />
            </span>
            <span class="about-text">
                - Name (Name) - required field <br />
                - Short Description (Short Description) - optional field <br />
                - Text of the article (Description) - required field <br />
                - Category (Category) - required field <br />
                - Tags (Tags) - optional field
            </span>
        </div>
        <div class="about-me-item">
            <span class="about-text">
                The Article List page contains the list of articles
                (name, category, short description, tags), filters (by category, date, tag). <br />
                The page for a specific article (Article Details) contains the title, article text, category and tags (if specified)
            </span>
        </div>
    </div>
