@model ItBlog.Models.AddArticleViewModel
<h2>Create article</h2>

<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Post">
    <div class="item">
        <label> Name </label>
        <input id="Name" name="Name" type="text" required />
    </div>
    <div class="item">
        <label>Short Description</label>
        @Html.TextBoxFor(m => m.ShortDescription);
    </div>
    <div class="item">
        <label>Full Description</label>
        <input id="FullDescription" name="FullDescription" type="text" required />
    </div>
    <div class="item">
        <label>Tags(Separator ' ')</label>
        @Html.TextBoxFor(m => m.Tags);
    </div>
    <div class="item">
        @Html.TextBox("Photo","",new { type ="File"})
    </div>
    <div>
        <label>Category</label>
        <select id="Category" name="Category">
            <option>C/C++</option>
            <option>C#</option>
            <option>Python</option>
            <option>Java</option>
        </select>
    </div>
    <input type="submit" value="Create" />
</form>
