@{
    ViewBag.Title = "Contact";
}

<address class="info_creater">
    <div class="creater">
        <span>
            Андрей Козловский<br />
        </span>
    </div>
    <div class="tellnumber">
        <span>
            +375-29-36-28-202<br />
        </span>
    </div>
    <div class="email">
        <span>
            caratosandre@gmail.com<br />
        </span>
    </div>
</address>