@font-face{
    font-family: 'FuturaDemiCTT';
    src: url("fonts/futurademic.otf");
}
.navbar {
    height: 50px;
    display: flex;
    width: 100%;
    align-items: center;
    font-family: 'FuturaDemiCTT';
    font-style: normal;
    background: #171a21;
    line-height: 17px;
    text-transform: uppercase;
    color: #e3b873;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.navbar-header{
    font-size: 20px;
}
.navbar-collapse {
  display: flex;
  justify-content: space-around;
  width: 60%;
  color:white;
  font-size: 14px;
  font-weight: 300;
line-height: 16px;
}
.navbar-box {
  display: flex;
  width: 50%;
  justify-content: flex-end;
}
.navbar-box li:last-child {
  margin-left: 20px;
}
.nav_ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
