
@import "reset.css";
@import "About.css";
@import "AddArticle.css";
@import "DeleteArticle.css";
@import "EditArticle.css";
@import "Index.css";
@import "MyArticles.css";
@import "ShowFull.css";
@import "Layout.css";
@font-face{
    font-family: 'FuturaBookC';
    src: url("fonts/futurabookc.otf");
}
@font-face{
  font-family:"Rostelecom Basis Light";
  src: url("fonts/description.otf");
}

.dl-horizontal dt {
    white-space: normal;
}
a {
  font-weight: inherit;
  color: inherit;
  text-decoration: none;
}
button{
    border:none;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}
li {
  list-style-type: none;
}
.nav.navbar-nav {
  display: flex;
}
.main {
  width: 100vw;
  background: #131313;


  
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  height: auto;
  
  
}
.form {
  margin-top: 50px;
  display: flex;
  width: 800px;
  justify-content: space-around;
}
.form-text {
  font-family: 'FuturaBookC';
  font-size: 18px;
  line-height: 29px;
  color: #ffffff;
}
.form_input{
    box-shadow: inset 3px 4px 5px rgba(0, 0, 0, 0.11);
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    
}
.form_search{
    background: url("/img/iconmonstr-magnifier-1.svg");
}
.box_add{
  display: flex;
  justify-content: center;
}
.button_add{
  margin-top:40px;
  display: flex;
  font-family: 'FuturaDemiCTT';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 27px;
/* identical to box height */
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
height: 50px;
background: #E3B873;
border-radius: 2px;
justify-content: center;
align-items: center;
width: 50%;
}
.button_add:hover{
  box-shadow: 0px 0px 15px rgba(227, 184, 115, 0.15);
}

.button_add span{

}
.items{
  min-height: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
  grid-template-rows: auto;
  grid-row-gap:20% ;
}
.on_item{
  position: relative;
  min-height: 30vh;
  display: flex;
  border:1px solid white;
  align-items: center;
  
}
.in_item{
 
  min-height: 20vh;
  color:#fff;
}